* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#main-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/School2.png'); 
  background-position: center;
  background-size: cover;
  filter: blur(10px) brightness(0.7); 
  z-index: 0;
}

#map-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  aspect-ratio: 2496 / 1728; 
  max-height: 100vh;
  max-width: calc(100vh * (2496 / 1728)); 
}

#map-image {
  width: 100%;
  height: 100%;
  display: block;
}

.eye {
  position: absolute;
  width: 4%;  
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  font-size: 1.5vw;
}

#enter {
  top: 60%;
  right: 36%;
}

#classroom1 {
  top: 60%;
  left: 35%;
}

#classroom2 {
  top: 45%;
  left: 40%;
}

#classroom3 {
  top: 37%;
  right: 28%;
}

#classroom4 {
  top: 30%;
  right: 38%;
}

#outside {
  top: 35%;
  left: 40%;
}

@media screen and (max-width: 1000px) {
  #enter {
    top: 62%;
    right:37%;
    width: 40px;
    height: 40px;
  }
  .eye {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 780px) {
  #enter {
    top: 58%;
    right: 36%;
  }
}